<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Solutions from the NETHope team</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="base">
    <div id="bloc_m">
        <header>
            <div class="post-wrap">
                <div class="post-item">
                    <div class="item-content">
                        <div class="item-footer">
                            <img th:src="@{/additionally/set.png}" alt="" align="left">
                            <a class="link"><span>Buying Buckwheat</span></a>
                            <div class="link">
                                    <span>
                                        <div class="items">
                                            <p>Країна Виробник:</p>
                                            <select class="select-css">
                                                <option>Україна</option>
                                                <option>Германія</option>
                                                <option>Росія</option>
                                                <option>Польща</option>
                                            </select>
                                            <p>Вага:</p>
                                                <div class='multi-range' data-lbound='100' data-ubound='3300'>
                                                <hr/>
                                                <input type='range' min='100' max='3500' step='400' value='100' oninput='this.parentNode.dataset.lbound=this.value;'/>
                                                <input type='range' min='100' max='3500' step='400' value='3500' oninput='this.parentNode.dataset.ubound=this.value;'/>
                                                </div>
                                            <div style="margin: -2px 0 0 85px;"><button onclick="" class="button_st" style="margin-left: 10px;" name="SearchButton">Пошук</button></div>
                                        </div>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <hr width="85%">
        <div class="colaps">
        <div class="main">
            <table id="generator_t">
                <tr>
                    <th colspan="2">Назва</th>
                    <th><div class="sort_price" onclick="getSort()">Ціна</div></th>
                    <th>Країна виробник</th>
                    <th>Вага</th>
                </tr>
            </table>
        </div>
            <div class="info_main">
                <img th:src="@{/additionally/info.png}">
                <div class="info_block"><p>Для сортування за категорією 'Ціна'<br>виберіть даний стовпець в таблиці.</p></div>
            </div>
        </div>
    </div>
</div>

<!-- Connecting external js-files -->
<script type="text/javascript" th:src="@{/js/start.js}"></script>
<script type="text/javascript" th:src="@{/js/sort.js}"></script>
</body>
</html>